.navigation
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    height: 72px;
}

.navigation ul{
    display: flex;
    list-style: none;
    gap: 24px;
    font-weight: 500;
}
